
#statistics-table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #99aab1}

tr:nth-child(odd){background-color: #d1d4d4}

th {
    background-color: #486a78;
    color: white;
}
